<div>
  <!-- Asigna el valor obtenido como parametro para buscar la imagen -->
  <div class="card" style="width: 18rem;">
    <img [src]="pokemonApp().imgUrl" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ pokemonApp().name }}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
  </div>
</div>
