<div>
  <!-- Asigna el valor obtenido como parametro para buscar la imagen -->
  <div class="card" style="width: 18rem">
    <img [src]="pokemonApp().imgUrl" class="card-img-top" alt="..." />
    
    <div class="card-body">
      <h5 class="card-title">{{ pokemonApp().name | titlecase }}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <b>TYPE: </b>
        <span class="">{{ pokemonApp().type | titlecase }}</span>
      </li>
      <li class="list-group-item">
        <b>TYPE: </b>
        <span class="">{{ pokemonApp().type | titlecase }}</span>
      </li>

    </ul>
  </div>
</div>
