<div class="bg-black">
  <!-- Control Filtro de pokemons (Shiny y Legendario) -->
  @switch (legendaryModeOn()) {

    @case (true) {
      @switch (shinyModeOn()) {
        @case (true) {
          @if (pokemonApp().isShiny && pokemonApp().isLegendary) {
            <list-card [pokemon]="pokemonApp()"></list-card>
          }
        }
        @case (false) {
          @if (pokemonApp().isLegendary) {
            <list-card [pokemon]="pokemonApp()"></list-card>
          }
        }
      }
    }
    @case (false) {
      @switch (shinyModeOn()) {
        @case (true) {
          @if (pokemonApp().isShiny) {<list-card [pokemon]="pokemonApp()"></list-card>}
        }
        @case (false) {
          <list-card [pokemon]="pokemonApp()"></list-card>
        }
      }
    }
  }
</div>


