<nav class="navbar navbar-expand-lg border-bottom py-3 bg-light shadow-sm border-2"
  [class.border-secondary]="'all' ===   this.pokedexService.selectedType()"
  [class.border-primary-subtle]="'water' ===   this.pokedexService.selectedType()"
  [class.border-danger-subtle]="'fire' ===   this.pokedexService.selectedType()"
  [class.border-info]="'flying' ===   this.pokedexService.selectedType()"
  [class.border-warning]="'electric' ===  this.pokedexService.selectedType()"
  [class.border-dark-subtle]="'ground' ===   this.pokedexService.selectedType()"
  [class.border-success-subtle]="'grass' ===   this.pokedexService.selectedType()"
  [class.border-dark-subtle]="' psychic' ===   this.pokedexService.selectedType()"
  >

  <div
    class="container-fluid d-flex flex-column align-items-center text-center"
  >
    <img
      src="/assets/logo/logo.png"
      alt="logo"
      style="height: 200px"
      class="mb-5"
    />

    <!-- Botones tipo -->
    <div class="d-flex flex-wrap justify-content-center gap-2 mb-4">
      <button
        class="btn"
        [class.btn-secondary]="this.pokedexService.selectedType() === 'all'"
        [class.btn-outline-secondary]="
          this.pokedexService.selectedType() !== 'all'
        "
        (click)="onSearchType('all')"
      >
        Todos
      </button>

      @for (type of pokemonTypes; track $index) {
      <button
        class="btn rounded-circle p-0"
        [class.btn-outline-primary]="'water' === type.name"
        [class.btn-outline-danger]="'fire' === type.name"
        [class.btn-outline-info]="'flying' === type.name"
        [class.btn-outline-warning]="'electric' === type.name"
        [class.btn-outline-dark]="'ground' === type.name"
        [class.btn-outline-success]="'grass' === type.name"
        [class.btn-outline-secondary]="'psychic' === type.name"
        [class.btn-primary]="
          'water' === type.name &&
          type.name === this.pokedexService.selectedType()
        "
        [class.btn-danger]="
          'fire' === type.name &&
          type.name === this.pokedexService.selectedType()
        "
        [class.btn-info]="
          'flying' === type.name &&
          type.name === this.pokedexService.selectedType()
        "
        [class.btn-warning]="
          'electric' === type.name &&
          type.name === this.pokedexService.selectedType()
        "
        [class.btn-dark]="
          'ground' === type.name &&
          type.name === this.pokedexService.selectedType()
        "
        [class.btn-success]="
          'grass' === type.name &&
          type.name === this.pokedexService.selectedType()
        "
        [class.btn-secondary]="
          'psychic' === type.name &&
          type.name === this.pokedexService.selectedType()
        "
        (click)="onSearchType(type.name)"
        [style.width.px]="50"
        [style.height.px]="50"
      >
        <img
          [src]="type.icon"
          [alt]="type.name"
          class="img-fluid"
          style="max-height: 32px"
        />
      </button>
      }
    </div>

    <!-- Modo Legendario y Shiny -->
    <div class="collapse navbar-collapse show mb-2" id="navbarCentered">
      <div class="d-flex justify-content-center gap-5 mb-3 align-items-center">
        <!-- Modo Legendario -->
        <div class="form-check form-switch">
          <input
            class="form-check-input custom-switch"
            type="checkbox"
            id="legendary"
            (change)="toggleLegendaryMode($event)"
          />
          <label class="form-check-label custom-label" for="legendary"
            >Legendario</label
          >
        </div>

        <!-- Modo Shiny -->
        <div class="form-check form-switch">
          <input
            class="form-check-input custom-switch"
            type="checkbox"
            id="shiny"
            (change)="toggleShinyMode($event)"
          />
          <label class="form-check-label custom-label" for="shiny">Shiny</label>
        </div>
      </div>
    </div>

    <!-- Busqueda ativa Pokemons -->
    <form role="search" (submit)="preventFormSubmit($event)">
      <div class="d-flex align-items-center gap-3 mb-2">
        <div
          class="input-group shadow-sm rounded-pill overflow-hidden flex-grow-1"
        >
          <input
            type="text"
            class="form-control border-0 ps-4"
            placeholder="Busca un pokemón"
            aria-label="Busca un pokemón"
            (keyup)="onSearch(txtSearch.value)"
            #txtSearch
          />
          <span class="badge bg-info text-dark fs-6 px-3 py-2">
            {{ this.pokedexService.filteredPokemons().length}} resultados
          </span>
        </div>

      </div>
    </form>

  </div>

</nav>
