<nav class="navbar navbar-expand-lg border-bottom py-3 bg-light shadow-sm">
  <div class="container-fluid d-flex flex-column align-items-center text-center">


    <img src="/assets/logo/logo.png" alt="logo" style="height: 250px;" class="mb-5" />

    <div class="d-flex flex-wrap justify-content-center gap-2 mb-3">
      <button class="btn btn-outline-secondary" (click)="onSearchType('all')">Todos</button>
      <button class="btn btn-primary" (click)="onSearchType('water')">Agua</button>
      <button class="btn btn-danger" (click)="onSearchType('fire')">Fuego</button>
      <button class="btn btn-info" (click)="onSearchType('flying')">Aire</button>
      <button class="btn btn-warning" (click)="onSearchType('electric')">Eléctrico</button>
      <button class="btn btn-dark" (click)="onSearchType('ground')">Tierra</button>
      <button class="btn btn-success" (click)="onSearchType('grass')">Planta</button>
      <button class="btn btn-secondary" (click)="onSearchType('psychic')">Psíquico</button>
    </div>


    <div class="collapse navbar-collapse show" id="navbarCentered">

      <div class="d-flex justify-content-center gap-3 mb-2">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="legendary" (change)="toggleLegendaryMode($event)" />
          <label class="form-check-label" for="legendary">Legendary</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="shiny" (change)="toggleShinyMode($event)" />
          <label class="form-check-label" for="shiny">Shiny</label>
        </div>
      </div>
    </div>

    <form class="" role="search" (submit)="preventFormSubmit($event)">

      <div class="input-group mb-3">
        <input
        type="text"
        class="form-control"
        placeholder="Busca un pokemón"
        aria-label="Busca un pokemón"
        aria-describedby="button-addon2"
        (keyup)="onSearch(txtSearch.value)"
        #txtSearch
        >
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="onSearch(txtSearch.value)">Buscar</button>
      </div>

    </form>


  </div>
</nav>




