<div class="card" style="width: 18rem">
  <img
    [src]="pokemon().isShiny && shinyModeOn ? pokemon().shinyImgUrl : pokemon().imgUrl"
    class="card-img-top"
    alt="..."
  />
  <!-- <img [src]="pokemon().imgUrl" class="card-img-top" alt="..." /> -->
  <div class="card-body">
    <h5 class="card-title">{{ pokemon().name | titlecase }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <b>TIPO: </b>
      <span>{{ pokemon().type | titlecase }}</span>
    </li>
    <li class="list-group-item">
      <b>HABILIDADES: </b>
      <span>{{ pokemon().stats.hp }}</span>
    </li>
    <li class="list-group-item">
      <b>LEGENDARIO: </b>
      <span>{{ pokemon().isLegendary }}</span>
    </li>
  </ul>
</div>
