<!-- pokemon-card.component.html -->
<div
  class="card shadow-sm tilt-hover"
  [class.border-warning]="pokemon().isLegendary"
  [class.border-3]="pokemon().isLegendary"
>
  <img
    [src]="
      pokemon().isShiny && shinyModeOn
        ? pokemon().shinyImgUrl
        : pokemon().imgUrl
    "
    class="card-img-top p-3"
    alt="Imagen de {{ pokemon().name }}"
  />

  <div class="card-body text-center">
    <h4 class="card-title fw-bold">{{ pokemon().name | titlecase }}</h4>

    <div class="d-flex justify-content-center align-items-center gap-2 mb-2">
      <img
        [src]="'/assets/type-icons/' + pokemon().type + '.png'"
        [alt]="pokemon().type"
        width="32"
        height="32"
        title="{{ pokemon().type | titlecase }}"
      />

      <span class="badge bg-secondary"
        >EXP: {{ pokemon().base_experience }}</span
      >
    </div>

    <!-- Botón toggle con método -->
    <button class="btn btn-outline-secondary btn-sm" (click)="toggleStats()">
      {{ showStats() ? "Ocultar Stats" : "Mostrar Stats" }}
    </button>
  </div>

  <!-- Bloque @if con stats -->
  @if (showStats()) {
  <ul
    class="list-group list-group-flush text-start small animate__animated animate__fadeIn"
  >
    <li class="list-group-item">
      <b class="badge bg-success">Vida</b> {{ pokemon().stats.hp }}
    </li>
    <li class="list-group-item">
      <b class="badge bg-danger">Ataque</b> {{ pokemon().stats.attack }}
    </li>
    <li class="list-group-item">
      <b class="badge bg-secondary">Defensa</b> {{ pokemon().stats.defense }}
    </li>
    <li class="list-group-item">
      <b class="badge bg-warning">Velocidad</b> {{ pokemon().stats.speed }}
    </li>

    @if (pokemon().isLegendary) {
    <li class="list-group-item text-center">
      ✨ <span class="fw-bold text-warning">Pokémon Legendario</span> ✨
    </li>
    }
  </ul>
  }
</div>
